# Dataset
dataset/
SHL_2023/
Moment-pretrained/

# Experiment outputs
experiments/
outputs/
runs/
runs_baseline/
okahashi_test/

# Model checkpoints
*.pth
*.pt
*.ckpt

# Logs / temporary files
*.log
untitled.txt

# Python
__pycache__/
_pycache_/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
